*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    
}

body {
    line-height: 1.6;
    font-family: sans-serif;
    overflow: overlay;

    &::-webkit-scrollbar {
        width: .7rem;
        height: 1rem;
    }

    &::-webkit-scrollbar-track {
        background:rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb {
        background: #BDBDBD;
      }
}

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
